@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url('../../assets/map.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.result-container {
}

.result-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    background-color: #85b381;
}

.logo-button {
    display: flex;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px 20px;
    width: 230px;
    position: relative;
}

.logo-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0);
    z-index: 1;
}

.logo-button:hover {
    transition: background-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.4);
}

.logo {
    display: flex;
    width: auto;
    height: auto;
    opacity: 1;
}

.signin-container {
    display: flex;
    gap: 10px;
    padding: 0px 20px;
}

.signin {
    padding: 10px 20px;
    background-color: #e0ecdc;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signin:hover {
    background-color: #cfdeca;
}

.main-container {
    display: flex;
    justify-content: flex;
    align-items: center;
    flex-grow: 1;
}
