<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{% static 'style/home2.css' %}">
</head>
<body>

<div class="background">
    <div class="home-container">
        <div class="home-header-container">
            <button onclick="window.location.href='{% url 'home' %}';" class="logo-button">
                <img src="{% static 'logo.png' %}" alt="logo" class="logo">
            </button>
            <div class="signin-container">
                <button onClick="window.location.href='{% url 'login' %}';" id="signupButton" class="signin">Sign In</button>
            </div>
        </div>
        <div class="main-container">
            <div class="left-search-container">
                <div class="slogan1">Welcome to</div>
                <div class="slogan2">Atlanta's Best</div>
                <div class="slogan2">Restaurant Finder</div>
                <div class="slogan3">Discover, Search, Dine at ATL's Best Restaurants </div>
                <button onClick="window.location.href='{% url 'search_places' %}';" class="search-button">
                    <span class="button-text">Search & Eat Now</span>
                    <img src="{% static 'search-icon.png' %}" alt="search-icon" class="search-icon">
                </button>
            </div>
            <div class="right-search-container">
                <div class="slogan4">Current Top Ten Favorites</div>
                <div class="scrollable-restaurants">
                    <div id="restaurant-list" class="restaurant-list"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'script/home2.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiGVTN23e2n3JsjDYxkhsNAfRlrSMxGU0&libraries=places"></script>
</body>
</html>
