<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register & Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style/login2.css' %}">
    <script>
        const accountUrl = "{% url 'account' %}";
        const loginUrl = "{% url 'login' %}";
    </script>
</head>
<body>
<div class="login-header-container">
    <button onclick="window.location.href='{% url 'home' %}'" class="logo-button">
        <img src="{% static 'logo.png' %}" alt="logo" class="logo">
    </button>
</div>
<div class="container" id="signup" style="display:none;">
    <h1 class="form-title">Register</h1>
    <form method="post" action="">
        {% csrf_token %}
        <div id="signUpMessage" class="messageDiv" style="display:none;"></div>
        <div class="input-group">
            <i class="fas fa-user"></i>
            <input type="text" id="fName" placeholder="First Name" required>
            <label for="fname">First Name</label>
        </div>
        <div class="input-group">
            <i class="fas fa-user"></i>
            <input type="text" id="lName" placeholder="Last Name" required>
            <label for="lName">Last Name</label>
        </div>
        <div class="input-group">
            <i class="fas fa-envelope"></i>
            <input type="email" id="rEmail" placeholder="Email" required>
            <label for="rEmail">Email</label>
        </div>
        <div class="input-group">
            <i class="fas fa-lock"></i>
            <input type="password" id="rPassword" placeholder="Password" required>
            <label for="rPassword">Password</label>
        </div>
        <button class="btn" id="submitSignUp">Sign Up</button>
    </form>
    <p class="or">
        ---------- or ----------
    </p>
    <div class="links">
        <div class="text">Already have an account?</div>
        <button id="signInButton">Sign In</button>
    </div>
</div>

<div class="container" id="signIn">
    <h1 class="form-title">Sign In</h1>
    <form method="post" action="">
        {% csrf_token %}
        <div id="signInMessage" class="messageDiv" style="display:none;"></div>
        <div class="input-group">
            <i class="fas fa-envelope"></i>
            <input type="email" id="email" placeholder="Email" required>
            <label for="email">Email</label>
        </div>
        <div class="input-group">
            <i class="fas fa-lock"></i>
            <input type="password" id="password" placeholder="Password" required>
            <label for="password">Password</label>
        </div>
        <div class="forgot-container" style="display: flex; justify-content: flex-end;">
            <button id="forgotPasswordButton">Forgot Password?</button>
        </div>
        <button class="btn" id="submitSignIn">Sign In</button>
    </form>
    <p class="or">
        ---------- or ----------
    </p>
    <div class="links">
        <div class="text">Don't have an account yet?</div>
        <button id="signUpButton">Sign Up</button>
    </div>
</div>

<div class="container" id="resetPasswordContainer" style="display:none;">
    <h1 class="form-title">Reset Password</h1>
    <form method="post" action="">
        {% csrf_token %}
        <div id="resetPasswordMessage"></div>
        <input type="email" id="resetEmail" placeholder="Enter your email" required>
        <button class="btn" id="submitResetPassword">Submit</button>
    </form>
    <div class="links">
        <button style="margin:0px; margin-left:-80px;" id="recoverSignInButton">Sign In</button>
        <button style="margin:0px; margin-right:-80px;" id="recoverSignUpButton">Sign Up</button>
    </div>
</div>

<script type="module" src="../../static/script/firebaseauth.js"></script>
<script src="../../static/script/login2.js"></script>
</body>
</html>
