@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url('../background.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.login-container {

}

.login-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: #85b381;
}

.logo-button {
    display: flex;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px 20px;
    width: 230px;
    position: relative;
}

.logo-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.4);
    opacity: 0;
    z-index: 1;

}

.logo-button:hover {
    transition: background-color 0.3s ease;
    background-color: rgba(255, 255, 255, 0.4);
}

.logo {
    display: flex;
    width: auto;
    height: auto;
    opacity: 1;
}

h2 {
    color: #4a5e4b;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 500;
    font-size: 35px;
    text-align: center;
    margin-bottom: 0px;
}

.main-container {
    background:#fff;
    width:450px;
    padding:1.5rem;
    margin:50px auto;
    margin-top: 30px;
    border-radius:10px;
    box-shadow:0px 0px 30px 0px rgba(170, 204, 159, .8);
}


.account-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.favorites-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6CA770;
    padding: 20px 20px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
    border-width: 3px;
    border-color: #e0ecdc;
    border-style: solid;
    width: 100vh;
    box-shadow:0 5px 20px 0px rgba(170, 204, 159, .8);
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding-right: 20px;
    float: center;
}

.favorites-button:hover {
    background-color: #5e8f62;
}

.account-info-container {
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    text-align: left;
}

.account-text {
    color: #4a5e4b;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 500;
    font-size: 25px;
    text-align: left;
    margin: 0px;
    margin-bottom: 15px;
}

.account-text span {
    font-weight: 600;
    color: #5f8c62
}

.logout-button {
    margin: 0px;
    margin-top: -10px;
    padding: 10px 20px;
    background-color: #d40000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.logout-button:hover {
    background-color: #b50000; /* Darker red on hover */
}

.signin-container {
    display: flex;
    gap: 10px;
    padding: 0px 20px;
}
.user-greeting:hover {
    background-color: #cfdeca;
}
.signin {
    background-color: rgb(0,0,0,0);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: black;
    border: none;
}
.header-text {
    font-family: 'Encode Sans', sans-serif;
    font-size: 24px;
    color: white;
    text-align: center;
    flex-grow: 1;
}

.user-greeting {
    padding: 10px 20px;
    background-color: #e0ecdc;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: black;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dropdown-menu {
    margin-top:19px;
    position: absolute;
    top: 60px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
    background-color: white;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 1000;
    display: none;
    padding: 10px 0;
    margin-right: 5px;
}

.dropdown-link {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    transition: background-color 0.2s ease;
}

.dropdown-link:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.search-header-button {
    display: flex;
    align-items: center;
    justify-content: right;
    background-color: rgb(0,0,0,0);
    cursor: pointer;
    border-radius: 12px;
    border:none;
    margin-right:5px;
}

/* Mobile Responsive */
@media (max-width: 600px) {
    .login-container {
        padding: 15px;
    }

    .account-buttons {
        flex-direction: column;
    }

    .account-info-button,
    .favorites-button,
    .reviews-button {
        width: 100%;
        margin-bottom: 10px;
    }

    .header-text {
        font-size: 1.8rem;
    }
}
