@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');

body {
    background-color: #c9d6ff;
    background:linear-gradient(to right,#e2e2e2,#b2e0b8);
}
.home-header-container {
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.logo-button {
    display: flex;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px 20px;
    position: relative;
}

.logo-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0);
    z-index: 1;
}

.logo-button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}

.logo {
    display: flex;
    width: auto;
    height: auto;
    opacity: 1;
}

.signin-container {
    display: flex;
    gap: 10px;
    padding: 0px 20px;
}

.signup {
    padding: 10px 20px;
    background-color: #6CA770;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.login {
    padding: 10px 20px;
    background-color: #262626;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.signup:hover {
    background-color: #699F6D;
}

.login:hover {
    background-color: #000000;
}

.home-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
}

.main-container {
    display: flex;
    justify-content: flex;
    align-items: center;
    flex-grow: 1;
}

.search-container {
    background-color: rgba(255, 255, 255, 0.25);
    padding: 20px 20px;
    margin: 0px 20px;
    border-radius: 15px;
}

.slogan {
    color: black;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 500;
    font-size: 36px;
}

.search-buttons {
    display: flex;
    padding-top: 10px;
}

.name-button {
    padding: 10px 20px;
    background-color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: black;
    border: none;
    border-top-left-radius: 12px;
    cursor: pointer;
    backdrop-filter: blur(10px);
}

.cuisine-button {
    padding: 10px 20px;
    background-color: rgba(85, 153, 89, 0.6);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: black;
    border: none;
    cursor: pointer;
    backdrop-filter: blur(10px);
}

.location-button {
    padding: 10px 20px;
    background-color: rgba(85, 153, 89, 0.6);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: black;
    border: none;
    border-top-right-radius: 12px;
    cursor: pointer;
    backdrop-filter: blur(10px);
}

.search-bar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    background-color: #fff;
    border-radius: 12px;
    border-top-left-radius: 0px;
}

.search-input {
    border: none;
    padding: 10px 20px;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    width: 1000px;
    outline: none;
}

.search-input::placeholder {
    color: #727272;
}

.search-button {
    border: none;
    background-color: #6CA770;
    color: white;
    padding: 20px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    border-radius: 12px;
}

.search-icon {
    width: auto;
    height: auto;
}

.search-button:hover {
    background-color: #699F6D;
}

.login-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    background-color: #6CA770;
}

.header-text {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: black;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 600;
    font-size: 48px;
}

.login-container {
}

.account-buttons {
    display: flex;
    flex-direction: column;
}

.account-info-button {
    width: 410px;
    height: 100px;
    text-align: left;
    padding: 20px;
    background-color: #8FC393;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #393939;
    border: none;
    cursor: pointer;
    backdrop-filter: blur(10px);
}

.favorites-button {
    width: 410px;
    height: 100px;
    text-align: left;
    padding: 20px;
    background-color: #B2D3B4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #393939;
    border: none;
    cursor: pointer;
    backdrop-filter: blur(10px);
}

.reviews-button {
    width: 410px;
    height: 100px;
    text-align: left;
    padding: 20px;
    background-color: #B2D3B4;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: #393939;
    border: none;
    cursor: pointer;
    backdrop-filter: blur(10px);
}

.account-info-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.account-text {
    color: black;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 600;
    font-size: 40px;
    text-align: left;
    margin: 20px;
}
